@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 768px)";
@item-count: 23;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

responsive-child {
  display: block;
}

body {
  font-family: sans-serif;
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 100%;
}

@import "plot";

.details {
  h1.tease {
    text-align:center;
    color: #CCC;
  }

  h1.year {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
  }

  ul.countries {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 13px;
    overflow: hidden;

    li {
      width: 25%;
      float: left;
      padding: 0 4px;
      border-bottom: 1px dotted #EEE;

      &:nth-child(2n) {
        background: #EEE;
      }

      @media @tablet {
        width: 33%;
      }

      @media @mobile {
        width: 100%;
      }

      .name {
        width: 50%;
        display: inline-block;
      }

      .absolute, .relative {
        width: 25%;
        display: inline-block;
        text-align: right;
      }

    }
  }
}