<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child interval=300>
      <main class="visual">
        <section class="chatter">
          <h1>Immigrant investors flood into job-creation visa program</h1>
          <p>
            Last year the federal government approved a record number of immigrants seeking permanent-residency visas through EB-5, a program for foreigners who invest in a U.S. enterprise that creates at least 10 jobs. Each approved investor can also get visas for a spouse and children.
        </section>
        <button class="switch">
          <span class="icon">▥</span>
          <label>Switch view</label>
        </button>
        <h2 class="title" data-mode="absolute">
          <span class="absolute">Number of EB-5 investors, by country</span>
          <span class="relative">Share of EB-5 investors, by country</span>
        </h2>
        <section class="plot">
          <aside class="y-max"></aside>
          <main class="plot-area"></main>
          <aside class="x-axis"></aside>
        </section>
        <ul class="legend"></ul>
        <section class="details">
          <h1 class="tease">Choose a column for details</h1>
        </section>
        <section class="source">
          Source: U.S. Citizenship and Immigration Services
        </section>
      </main>
    </responsive-child>

    <%
var sequences = [];
var titleCase = function(str) {
  return str.toLowerCase().replace(/(^|\s)\w/g, function(match) { return match.toUpperCase() });
}

var totals = [];
var other = [];
var cutoff = 250;
csv.counts.forEach(function(row) {
  var country = titleCase(row.country);
  // if (country == "Unknown") return;
  var sequence = row.total > cutoff ? [] : other;
  for (var key in row) {
    if (key.match(/\d+/)) {
      var year = key * 1 - 1992;
      var value = row[key] * 1;
      sequence[year] = (sequence[year] || 0) + value;
      totals[year] = totals[year] ? totals[year] + value : value;
    }
  }
  if (row.total > cutoff) {
    sequences.push({
      country: country,
      data: sequence
    });
  }
});
sequences.push({
  country: "Other",
  data: other
});
sequences.forEach(function(country) {
  country.data = country.data.map(function(value, i) {
    return {
      absolute: value,
      relative: value / totals[i] * 100
    };
  });
});
var highest = Math.max.apply(null, totals);
    %>
    <script>
window.i526 = <%= JSON.stringify({ applications: sequences, max: highest }) %>;
    </script>
    <script src="app.js"></script>
  </body>
</html>
